{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div>
	<p>Пользователь: <b>{{ current_user.username }}</b></p>
</div>
{{ wtf.quick_form(form) }}
{% for book in books %}
<div>
	<h2>{{ book.volumeInfo.title }}</h2>
	{% if 'imageLinks' in book.volumeInfo %}
	<img class="aligning card z-depth-5" id="dynamic" src="{{ book.volumeInfo.imageLinks.thumbnail }}"><br>
	{% else %}
	<img class="aligning card z-depth-5" id="dynamic" src="/static/no_cover_thumb.gif"><br>
	{% endif %}
	<a href="{{ book.volumeInfo.infoLink }}">
	<button id="imagebutton" class="btn red aligning">Read More</button></a>
</div>
{% endfor %}
{% endblock %}
